<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Llista de restaurants</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Nom</th>
        <th colspan="2">Carrer</th>
        <th>Genere</th>
        <th>Fa domicili?</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="res : ${llistaRestaurants}">
        <td th:text="${res.name}"></td>
        <td colspan="2" th:text="${res.street}"></td>
        <td th:text="${res.genre}">pepe.perez@ole.com</td>
        <td th:text="${res.doesDelivery}"></td>
        <td><a th:href="@{/list/edit/{name}(name=${res.name})}">Editar</a> </td>
        <td><a th:href="@{/list/eliminar(name=${res.name})}">Eliminar</a> </td>
    </tr>
    </tbody>
</table>
<a href="list/add">Afegir un nou restaurant</a>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sortir (Sign Out)"/>
</form>
</body>
</html>